<ion-header>
  <ion-toolbar>
    <ion-title>sms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-button (click)="getHash()">Hash</ion-button>
      <ion-button (click)="startWatch()">get msg</ion-button>
      <ion-button (click)="f()">fg</ion-button>
      <p>hash : {{hash}}</p>
      <p>msg : {{msg}}</p>
      <h1>Enter otp</h1>
      <form [formGroup]="otpForm">
        <div class="otpformInputs">
          <div class="inputGroups">
            <div
              *ngFor="let otpbox of otp.controls; let i = index"
              formArrayName="otp"
            >
              <input
                #formRow
                class="otp_inputs"
                type="input"
                [formControlName]="i"
                maxlength="1"
                (input)="keyUpEvent($event, i)"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
              />
            </div>
          </div>
        </div>
      </form>
</ion-content>
