<ion-header>
  <ion-toolbar>
    <ion-title>round-progressbar</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
<ion-grid>
  <ion-row>
     <ion-col>
      <div class="outer">
        <div class="outer-round">
          <div class="inner-round">
            <div class="insidecircle_1"></div>
            <div class="insidecircle_2"></div>
            <div class="insidecircle_3"></div>
            <div class="insidecircle_4"></div>
            <div class="insidecircle_5"></div>
            <span class="value text">32</span>
          </div>
        </div>
       </div>
     </ion-col>
  </ion-row>

</ion-grid>
 <div class="progress">
  <ion-progress-bar value="0.5"></ion-progress-bar>
 </div>
</ion-content> -->
<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col  class="circle">
        <div class="outer">
          <div class="outer-round">
            <div class="inner-round">
              <div class="insidecircle_1"></div>
              <div class="insidecircle_2"></div>
              <div class="insidecircle_3"></div>
              <div class="insidecircle_4"></div>
              <div class="insidecircle_5"></div>
              <span class="value text">32</span>
            </div>
          </div>
         </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="2" class="image-centered">
            <ion-img class="item-img" src="https://png.pngtree.com/element_our/png/20180930/food-icon-design-vector-png_120564.jpg"></ion-img>
          </ion-col>
          <ion-col size="5">
            <span class="item-name q-text">FOOD</span>
          </ion-col>
          <ion-col size="5" class="right-col">
            <strong>
              <p class="q-text"><b>10 ton</b>&nbsp;
                <small>of co2</small>
              </p>
            </strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <div class="progress-bar">
              <ion-progress-bar [value]=".6"></ion-progress-bar>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="2" class="image-centered">
            <ion-img class="item-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPeA36SEDNAT93xVHKp1UNLToYoGdXqroyUA&usqp=CAU"></ion-img>
          </ion-col>
          <ion-col size="5">
            <span class="item-name q-text">COMMUTE</span>
          </ion-col>
          <ion-col size="5" class="right-col">
            <strong>
              <p class="q-text"><b>08 ton</b>&nbsp;
                <small>of of co2</small>
              </p>
            </strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <div class="progress-bar">
              <ion-progress-bar [value]=".6"></ion-progress-bar>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="2" class="image-centered">
            <ion-img class="item-img" src="https://png.pngtree.com/element_our/png/20180930/food-icon-design-vector-png_120564.jpg"></ion-img>
          </ion-col>
          <ion-col size="5">
            <span class="item-name q-text">FOOD</span>
          </ion-col>
          <ion-col size="5" class="right-col">
            <strong>
              <p class="q-text"><b>10 ton</b>&nbsp;
                <small>of co2</small>
              </p>
            </strong>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <div class="progress-bar">
              <ion-progress-bar [value]=".6"></ion-progress-bar>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
